iframe {
  height: 90vh;
  min-height: 90vh;
}

.logo {
  padding: 0px 15px;
}

.logo img {
  height: 33px;
}


a {
  color: #294172;
}

a:hover {
  color: #1474a0;
  text-decoration: none;
}

.page .navbar-default {
  background-color: #294172;
  border-color: #294172;
  padding: 0px 15px;
}

.page .navbar-default .navbar-brand {
  color: #ffffff;
}

.page .navbar-default .navbar-brand:hover, .page .navbar-default .navbar-brand:focus {
  color: #294172;
  background-color: #ffffff;
}

.page .navbar-default .navbar-text {
  color: #ffffff;
}

.page .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.page .navbar-default .navbar-text a {
  color: #ffffff;
}

.page .navbar-default .navbar-nav > li > a:hover, .page .navbar-default .navbar-nav > li > a:focus {
  color: #294172;
  background-color: #ffffff;
}
.page .navbar-default .navbar-text a:hover {
  color: #294172;
  background-color: #ffffff;
}

.page .navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #294172;
}

.page .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.page .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .page .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #294172;
  background-color: #ffffff;
}

.page .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #294172;
}

.page .navbar-default .navbar-nav > .active > a, .page .navbar-default .navbar-nav > .active > a:hover,
.page .navbar-default .navbar-nav > .active > a:focus {
  color: #294172;
  background-color: #ffffff;
}

.page .navbar-default .navbar-nav > .open > a, .page .navbar-default .navbar-nav > .open > a:hover,
.page .navbar-default .navbar-nav > .open > a:focus {
  color: #294172;
  background-color: #ffffff;
}

.page .navbar-default .navbar-toggle {
  border-color: #ffffff;
}

.page .navbar-default .navbar-toggle:hover, .page .navbar-default .navbar-toggle:focus {
  color: #294172;
  background-color: #294172;
}

.page .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.page .navbar-default .navbar-collapse, .page .navbar-default .navbar-form {
  border-color: #ffffff;
}

.page .navbar-default .navbar-link {
  color: #ffffff;
}

.page .navbar-default .navbar-link:hover {
  color: #294172;
}

.page .footer, .page .footer a, .page .footer a:hover {
  color: #333;
  text-align: center;
  padding: 20px;
}

.page .footer ul {
  padding-left: 0px;
}

.page .footer li {
  list-style: none;
  padding-left: 0px;
}

.page .footer a {
  color: white;
  text-decoration: underline;
}

.sha256 {
  display: block;
  color: #aaa;
  padding: 2px;
  font-size: smaller;
  overflow-wrap: break-word;
}

.sha256:before {
  content: 'sha256: ';
  color: #5895ea;
  font-size: smaller;
  padding-left: 0px;
}

.size {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 5px;
  margin: 10px 2px 0px 10px;
  background-color: orange;
  border-radius: 3px;
  float: right;
}
a.donate-link {
  color:white;
  background-color: orange;
  border-color: orange;
}
a.donate-link:hover {
  color:orange;
  background-color: white;
  border-color: white;
}

